<div class="title">
    <h2>Edit Project</h2>
</div>


<div class="inner-container">
    <div class="pane">
        <div class="input-group">
            <label>Title</label>
            {{input type="text" value=model.title}}
            <ul class="error-group">
                {{#each errors.title as |error|}}
                    <li class="error">
                        {{fa-icon "exclamation-triangle"}}
                        {{error}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="input-group">
            <label>Description</label>
            {{textarea rows=3 value=model.description}}
        </div>
        <div class="input-group">
            <label>Active</label>
            {{input type="checkbox" checked=model.active}}
        </div>
        <span id="save-btn" class="btn green-btn" {{action "save" onclick}}>Save</span>
        <span class="btn grey-btn" {{action "cancel" onclick}}>Cancel</span>
    </div>
</div>
