<div class="title">
    <h2>{{if isNew "New" "Edit"}} Project</h2>
</div>


<div class="inner-container">
    <div class="pane">
        {{#validated-input show=showErrors label="Title" value=model.title validation=model.validations.attrs.title as |act| }}
            {{input type="text" value=model.title input=act}}
        {{/validated-input}}
        <div class="input-group">
            <label>Description</label>
            {{textarea rows=3 value=model.description}}
        </div>
        {{#unless isNew}}
            <div class="input-group">
                <label>Active</label>
                {{input type="checkbox" checked=model.active}}
            </div>
        {{/unless}}

        <span id="save-btn" class="btn green-btn" {{action "save" onclick}}>Save</span>
        <span class="btn grey-btn" {{action "cancel" onclick}}>Cancel</span>
    </div>
</div>
