<div class="title">
    <h2>Projects</h2>
    <div class="action-group">{{#link-to "projects.new"}}{{fa-icon "plus"}}{{/link-to}}</div>
    <div class="toggle-group subtitle">
        {{toggle-button text='Active' toggled=active_f act=(action 'filter')}}
        {{toggle-button text='Inactive' toggled=inactive_f act=(action 'filter')}}
    </div>
</div>

<div class="inner-container">
    <div class="dashboard">
        {{#each data as |proj|}}
            <div class="dashboard-item full">
                <div class="dashboard-item-title">
                    <h3 class="{{unless proj.active "inactive"}}">{{#link-to "projects.view" proj.id}}{{proj.title}}{{/link-to}}</h3>
                    <div class="action-group">
                        {{#link-to "projects.edit" proj.id}}{{fa-icon "pencil"}}{{/link-to}}
                        {{delete-button delete=(action "delete" proj)}}
                    </div>
                </div>
                <div class="dashboard-item-content">
                    {{# if proj.description}}<p class="description">{{proj.description}}</p>{{/if}}
                </div>
            </div>
        {{/each}}
    </div>

    {{outlet}}
</div>
