<div class="title">
    <h2>{{model.title}}</h2>
    <div class="subtitle action-group">
        <div class="action-group">
            {{#link-to "projects.edit" proj.id}}{{fa-icon "pencil"}}{{/link-to}}
            {{delete-button delete=(action "delete" proj)}}
        </div>
    </div>
</div>


<div class="inner-container">
    <div class="pane">
        <p>{{model.description}}</p>

        {{#each model.activities as |act|}}
            {{act.description}}
        {{/each}}
    </div>
</div>
