<div class="title">
    <h2>Login</h2>
</div>

<div class="inner-container">
    <div class="pane">
        <form {{action 'authenticate' on='submit'}}>
            <div class="input-group">
                <label for="identification">Username</label>
                {{input id='identification' value=identification}}
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                {{input id='password' type='password' value=password}}
            </div>
            <button class="btn green-btn" type="submit">Login</button>
        </form>
        {{#if showErrors}}
            <div class="error-group">
                <li class="error">
                    {{fa-icon "exclamation-triangle"}}
                    No such user or username and password did not match
                </li>
            </div>
        {{/if}}
        {{outlet}}
    </div>
</div>
