<div class="title">
    <h2>Timer</h2>
</div>

<div class="inner-container">
    <div class="dashboard timer-dashboard">
        <div class="timer dashboard-item">
            <div class="dashboard-item-title">
                <h3>Let's get productive!</h3>
            </div>
            <div class="dashboard-item-content">
                {{stop-watch initial=(eq state "initial") hours=hours minutes=minutes seconds=seconds}}

                <h3 class="timer">{{hours}}:{{minutes}}:{{seconds}}</h3>
                {{#if (eq state "initial")}}
                    <span class="btn green-btn" {{action "start"}}>Start</span>
                {{else if (eq state "timing")}}
                        <span class="btn green-btn" {{action "stop"}}>Stop</span>
                {{else if (eq state "stopped")}}
                        <span class="btn green-btn" {{action "record"}}>Record</span>
                        <span class="btn red-btn" {{action "restart"}}>Cancel</span>
                {{/if}}
            </div>
        </div>
    </div>
</div>
