<div class="stopwatch">
    <div class="block"></div>

    <div class="stopwatch-small">
        <div class="number" style="left: 45%"><p>0</p></div>
        <div class="number" style="transform: rotate(90deg); top: 5%"><p style="transform: rotate(-90deg);">15</p></div>
        <div class="number" style="transform: rotate(180deg); left: 40%; top: 15%;"><p style="transform: rotate(-180deg);">30</p></div>
        <div class="number" style="transform: rotate(270deg); left: 33%; top: 5%"><p style="transform: rotate(-270deg);">45</p></div>

        <div class="hand-centre"></div>

        {{#if initial}}
            <div class="hand second-hand second-hand-initial">
            </div>
        {{else}}
            <div class="hand second-hand" style={{seconds_deg}}></div>
        {{/if}}
    </div>

    <div class="stopwatch-small bottom">
        <div class="hours-text">
            <div class="hours">{{hours}}</div>
            <div class="hr">{{#if (eq hours "1")}}hr{{else}}hrs{{/if}}</div>
        </div>
    </div>

    <div class="marker"></div>
    <div class="marker" style="transform: rotate(30deg);"></div>
    <div class="marker" style="transform: rotate(60deg);"></div>
    <div class="marker" style="transform: rotate(90deg);"></div>
    <div class="marker" style="transform: rotate(120deg);"></div>
    <div class="marker" style="transform: rotate(150deg);"></div>
    <div class="marker" style="transform: rotate(180deg);"></div>
    <div class="marker" style="transform: rotate(210deg);"></div>
    <div class="marker" style="transform: rotate(240deg);"></div>
    <div class="marker" style="transform: rotate(270deg);"></div>
    <div class="marker" style="transform: rotate(300deg);"></div>
    <div class="marker" style="transform: rotate(330deg);"></div>

    <div class="hand-centre"></div>

    {{#if initial}}
        <div class="hand minute-hand minute-hand-initial">
        </div>
    {{else}}
        <div class="hand minute-hand" style={{minutes_deg}}></div>
    {{/if}}
</div>
{{yield}}
