<div class="title">
    <h2>{{if isNew "New" "Edit"}} Activity</h2>
</div>


<div class="inner-container">
    <div class="pane">
        {{#if showProjects}}
            <div class="input-group">
                <label>Project</label>
                <select onchange={{action (mut proj_id) value="target.value"}}>
                    {{#each projects as |project|}}
                        <option value={{project.id}} selected={{eq project_id project.id}}>{{project.title}}</option>
                    {{/each}}
                </select>
            </div>
        {{/if}}

        <div class="input-group">
            <label>Description</label>
            {{input type="text" value=model.description}}
        </div>

        {{#validated-input show=showErrors label="Start time" validation=model.validations.attrs.start_time as |act|}}
            {{datetime-field date=model.start_time inputact=act}}
        {{/validated-input}}

        {{#validated-input show=showErrors label="End time" validation=model.validations.attrs.end_time as |act|}}
            {{datetime-field date=model.end_time inputact=act}}
        {{/validated-input}}

        <div class="input-group">
            <label>Tags</label>
            {{tags-field tags=model.tags}}
        </div>

        <span id="save-btn" class="btn green-btn" {{action "save" onclick}}>Save</span>
        <span class="btn grey-btn" {{action "cancel" onclick}}>Cancel</span>
    </div>
</div>
