<div class="title">
    <h2>{{if isNew "New" "Edit"}} Activity</h2>
</div>


<div class="inner-container">
    <div class="pane">
        {{model.project_id}}
        <div class="input-group">
            <label>Description</label>
            {{input type="text" value=model.description}}
        </div>
        <div class="input-group">
            <label>Start time</label>
            {{datetime-field date=model.start_time}}
            <ul class="error-group">
                {{#each errors.start_time as |error|}}
                    <li class="error">
                        {{fa-icon "exclamation-triangle"}}
                        {{error}}
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="input-group">
            <label>End time</label>
            {{datetime-field date=model.end_time}}
            <ul class="error-group">
                {{#each errors.end_time as |error|}}
                    <li class="error">
                        {{fa-icon "exclamation-triangle"}}
                        {{error}}
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="input-group">
            <label>Tags</label>
            {{tags-field tags=model.tags}}
        </div>

        <span id="save-btn" class="btn green-btn" {{action "save" onclick}}>Save</span>
        <span class="btn grey-btn" {{action "cancel" onclick}}>Cancel</span>
    </div>
</div>
